#fdiv1{
    display: flex;
    width: 100%;
    background: #2b1e16;
}
.mal{
    width: 33%;
}
p{
    color:#e0cbc1
}
.fimg{
    width:25%;
    height: 200px;
}
@media only screen and (max-width: 500px) {
    #fdiv1{
        flex-direction: column;
    }
    .mal{
      margin-left: 35%;
    }
    .fimg{
    width:80%;
    height: 200px;
    }
  }